<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
<body>

    <%- include('./partials/nav.ejs')  %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eligendi accusantium quam iste, quaerat accusamus rem. Perferendis doloremque natus reiciendis recusandae nesciunt voluptates neque excepturi id dicta corporis, saepe earum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus consectetur rem suscipit ullam laborum error rerum dolorem vitae tempore blanditiis. Rem eius illo suscipit fugiat sunt quam quo ea consectetur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga non officia facere ex voluptas libero, quisquam magnam et ad quis fugiat, quia, tempore eos debitis eum natus mollitia nobis atque!</p>
    </div>
</body>
<%- include('./partials/footer.ejs')  %>
</html>